In [1]:
import pandas as pd
import numpy as np
file = 'def_training.csv'
X = pd.read_csv('../Data/' + file)
Test = pd.read_csv('../Data/def_test.csv')

In [3]:
print(X.columns)
X = X.drop(columns=['Unnamed: 0'])
X.head()

Index(['Unnamed: 0', 'song_id', 'source_system_tab', 'source_screen_name',
       'source_type', 'target', 'city', 'bd', 'registered_via',
       'registration_init_time', 'expiration_date', 'gender', 'age_range',
       'song_length', 'genre_ids', 'artist_name', 'composer', 'lyricist',
       'language', 'name', 'country_code', 'registrant_code', 'song_year'],
      dtype='object')

,song_id,source_system_tab,source_screen_name,source_type,target,city,bd,registered_via,registration_init_time,expiration_date,...,song_length,genre_ids,artist_name,composer,lyricist,language,name,country_code,registrant_code,song_year
0,BBzumQNXUHKdEBOB7mAJuzok+IJA1c2Ryg/yzTF6tik=,explore,Explore,online-playlist,1,1,0,7,20120102,20171005,...,206471.0,359,Bastille,Dan Smith| Mark Crew,no_lyricist,52.0,Good Grief,GB,UM7,2016.0
1,bhp/MpSNoqoxOIB+/l8WPqu6jldth4DIpCm3ayXnJqM=,my library,Local playlist more,local-playlist,1,13,24,9,20110525,20170911,...,284584.0,1259,Various Artists,no_composer,no_lyricist,52.0,Lords of Cardboard,US,3C6,1999.0
2,JNWfrrC7zNN7BdMpsISKa4Mw+xVJYNnxXh3/Epw7QgY=,my library,Local playlist more,local-playlist,1,13,24,9,20110525,20170911,...,225396.0,1259,Nas,N. Jones、W. Adams、J. Lordan、D. Ingle,no_lyricist,52.0,Hip Hop Is Dead(Album Version (Edited)),US,UM7,2006.0
3,2A87tzfnJTSWqD7gIZHisolhe4DMdzkbd6LzO1KHjNs=,my library,Local playlist more,local-playlist,1,13,24,9,20110525,20170911,...,255512.0,1019,Soundway,Kwadwo Donkoh,no_lyricist,-1.0,Disco Africa,GB,UQH,2010.0
4,3qm6XTZ6MOCU11x8FIVbAGH5l5uMkT3/ZalWG1oo2Gc=,explore,Explore,online-playlist,1,1,0,7,20120102,20171005,...,187802.0,1011,Brett Young,Brett Young| Kelly Archer| Justin Ebach,no_lyricist,52.0,Sleep Without You,QM,3E2,2016.0

In [5]:
categorical = ['source_type','gender']#,'genre_ids']
numerical = ['registration_init_time', 'song_length', 'registration_init_time', 'expiration_date', 'song_year']

y = X['target']
X = X.drop(columns=['target'])
y.head()

0    1
1    1
2    1
3    1
4    1
Name: target, dtype: int64

In [6]:
DummiesX = pd.get_dummies(data=X[categorical], prefix_sep='|')
DummiesX.head()

,gender,source_type|album,source_type|artist,source_type|listen-with,source_type|local-library,source_type|local-playlist,source_type|my-daily-playlist,source_type|online-playlist,source_type|radio,source_type|song,source_type|song-based-playlist,source_type|top-hits-for-artist,source_type|topic-article-playlist
0,1,0,0,0,0,0,0,1,0,0,0,0,0
1,0,0,0,0,0,1,0,0,0,0,0,0,0
2,0,0,0,0,0,1,0,0,0,0,0,0,0
3,0,0,0,0,0,1,0,0,0,0,0,0,0
4,1,0,0,0,0,0,0,1,0,0,0,0,0

In [7]:
DummiesT = pd.get_dummies(data=Test[categorical], prefix_sep='|')
DummiesT.head()

,gender,source_type|album,source_type|artist,source_type|listen-with,source_type|local-library,source_type|local-playlist,source_type|my-daily-playlist,source_type|online-playlist,source_type|radio,source_type|song,source_type|song-based-playlist,source_type|top-hits-for-artist,source_type|topic-article-playlist
0,0,0,0,0,1,0,0,0,0,0,0,0,0
1,0,0,0,0,1,0,0,0,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,1,0,0
3,1,0,0,0,0,0,0,0,1,0,0,0,0
4,1,0,0,0,0,0,0,0,1,0,0,0,0

In [8]:
DummiesX.columns
X_num = X[numerical]
X_num.head()
T_num = Test[numerical]
T_num.head()

,registration_init_time,song_length,registration_init_time,expiration_date,song_year
0,20160219,224130.0,20160219,20170918,2014.0
1,20160219,320470.0,20160219,20170918,2010.0
2,20161117,315899.0,20161117,20161124,2010.0
3,20070725,285210.0,20070725,20170430,2002.0
4,20070725,197590.0,20070725,20170430,2011.0

In [9]:
from sklearn.preprocessing import StandardScaler as stdc

X_num = pd.DataFrame(stdc().fit_transform(X_num),columns=X_num.columns)
X_num.head()

,registration_init_time,song_length,registration_init_time,expiration_date,song_year
0,-0.265472,-0.573664,-0.265472,-0.145812,0.692924
1,-0.582891,0.585864,-0.582891,-0.170209,-1.943645
2,-0.582891,-0.292737,-0.582891,-0.170209,-0.857999
3,-0.582891,0.154312,-0.582891,-0.170209,-0.237630
4,-0.265472,-0.850791,-0.265472,-0.145812,0.692924

In [10]:
T_num = pd.DataFrame(stdc().fit_transform(T_num),columns=T_num.columns)
T_num.head()

,registration_init_time,song_length,registration_init_time,expiration_date,song_year
0,0.997300,-0.268766,0.997300,-0.240092,0.370085
1,0.997300,1.044664,0.997300,-0.240092,-0.225895
2,1.026274,0.982346,1.026274,-2.988027,-0.225895
3,-1.890226,0.563954,-1.890226,-0.377011,-1.417856
4,-1.890226,-0.630593,-1.890226,-0.377011,-0.076900

In [11]:
import sklearn.model_selection as ms
(X_cat_train, X_cat_test, y_train, y_test) = ms.train_test_split(DummiesX, y, test_size=0.5, random_state=1, stratify=y)
(X_cat_test, X_cat_val, y_test, y_val) = ms.train_test_split(X_cat_test, y_test, test_size=.5, random_state=1, stratify=y_test)
print('\n New train shape: ', X_cat_train.shape, ' \n New test shape: ', X_cat_test.shape, '\n New val shape: ',
      X_cat_val.shape, '\n Type: ',type(X_cat_train))
print(y_train.shape)

 New train shape:  (3673816, 13)
 New test shape:  (1836908, 13)
 New val shape:  (1836909, 13)
 Type:  <class 'pandas.core.frame.DataFrame'>
(3673816,)

In [12]:
(X_num_train, X_num_test, y_train, y_test) = ms.train_test_split(X_num, y, test_size=0.5, random_state=1, stratify=y)
(X_num_test, X_num_val, y_test, y_val) = ms.train_test_split(X_num_test, y_test, test_size=.5, random_state=1, stratify=y_test)
print('\n New train shape: ', X_num_train.shape, ' \n New test shape: ', X_num_test.shape, '\n New val shape: ',
      X_num_val.shape, '\n Type: ',type(X_num_train))
print(y_train.shape)

 New train shape:  (3673816, 5)
 New test shape:  (1836908, 5)
 New val shape:  (1836909, 5)
 Type:  <class 'pandas.core.frame.DataFrame'>
(3673816,)

In [13]:
concat_Train = pd.concat([X_cat_train, X_num_train], axis=1, ignore_index=True)
concat_Test = pd.concat([X_cat_test, X_num_test], axis=1, ignore_index=True)
concat_Val = pd.concat([X_cat_val, X_num_val], axis=1, ignore_index=True)

print('concat X Train ', concat_Train.shape)
print('concat X ', concat_Test.shape)
print('concat X ', concat_Val.shape)

concat X Train  (3673816, 18)
concat X  (1836908, 18)
concat X  (1836909, 18)

In [15]:
T =  pd.concat([DummiesT, T_num], axis=1, ignore_index=True)
T.to_csv('../Data/preprocessedTestOriginal.csv')
print('Original test: ', T.shape)

Original test:  (2556790, 18)

In [16]:
T.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17
0,0,0,0,0,1,0,0,0,0,0,0,0,0,0.997300,-0.268766,0.997300,-0.240092,0.370085
1,0,0,0,0,1,0,0,0,0,0,0,0,0,0.997300,1.044664,0.997300,-0.240092,-0.225895
2,1,0,0,0,0,0,0,0,0,0,1,0,0,1.026274,0.982346,1.026274,-2.988027,-0.225895
3,1,0,0,0,0,0,0,0,1,0,0,0,0,-1.890226,0.563954,-1.890226,-0.377011,-1.417856
4,1,0,0,0,0,0,0,0,1,0,0,0,0,-1.890226,-0.630593,-1.890226,-0.377011,-0.076900

In [17]:
concat_Train.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17
3584192,0,0,0,0,0,0,0,1,0,0,0,0,0,0.748697,-0.393737,0.748697,-0.167354,0.537832
2303057,0,0,0,1,0,0,0,0,0,0,0,0,0,-2.552235,-0.032339,-2.552235,-0.168133,0.227647
3163611,1,0,0,0,0,0,0,0,0,0,0,1,0,-0.576196,0.470212,-0.576196,-0.139324,-0.392722
4019357,0,0,0,0,0,0,0,1,0,0,0,0,0,1.084180,-0.665179,1.084180,-0.166316,0.692924
519966,0,0,0,0,0,1,0,0,0,0,0,0,0,-0.911248,-0.382871,-0.911248,-0.146591,0.692924

In [18]:
concat_Train['target'] = y_train
concat_Test['target'] = y_test
concat_Val['target'] = y_val


concat_Train.to_csv('../Data/preprocessedTrain.csv')
concat_Test.to_csv('../Data/preprocessedTest.csv')
concat_Val.to_csv('../Data/preprocessedVal.csv')
concat_Train.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,target
3584192,0,0,0,0,0,0,0,1,0,0,0,0,0,0.748697,-0.393737,0.748697,-0.167354,0.537832,0
2303057,0,0,0,1,0,0,0,0,0,0,0,0,0,-2.552235,-0.032339,-2.552235,-0.168133,0.227647,0
3163611,1,0,0,0,0,0,0,0,0,0,0,1,0,-0.576196,0.470212,-0.576196,-0.139324,-0.392722,1
4019357,0,0,0,0,0,0,0,1,0,0,0,0,0,1.084180,-0.665179,1.084180,-0.166316,0.692924,1
519966,0,0,0,0,0,1,0,0,0,0,0,0,0,-0.911248,-0.382871,-0.911248,-0.146591,0.692924,1