# Getting dummies

In [1]:
import pandas as pd
import numpy as np
file = 'def_training.csv'
X = pd.read_csv('../Data/' + file)
Test = pd.read_csv('../Data/def_test.csv')

In [2]:
print(X.columns)
X = X.drop(columns=['Unnamed: 0'])
X.head()

Index(['Unnamed: 0', 'song_id', 'source_system_tab', 'source_screen_name',
       'source_type', 'target', 'city', 'bd', 'registered_via',
       'registration_init_time', 'expiration_date', 'gender', 'age_range',
       'song_length', 'genre_ids', 'artist_name', 'composer', 'lyricist',
       'language', 'name', 'country_code', 'registrant_code', 'song_year'],
      dtype='object')

,song_id,source_system_tab,source_screen_name,source_type,target,city,bd,registered_via,registration_init_time,expiration_date,...,song_length,genre_ids,artist_name,composer,lyricist,language,name,country_code,registrant_code,song_year
0,BBzumQNXUHKdEBOB7mAJuzok+IJA1c2Ryg/yzTF6tik=,explore,Explore,online-playlist,1,1,0,7,20120102,20171005,...,206471.0,359,Bastille,Dan Smith| Mark Crew,no_lyricist,52.0,Good Grief,GB,UM7,2016.0
1,bhp/MpSNoqoxOIB+/l8WPqu6jldth4DIpCm3ayXnJqM=,my library,Local playlist more,local-playlist,1,13,24,9,20110525,20170911,...,284584.0,1259,Various Artists,no_composer,no_lyricist,52.0,Lords of Cardboard,US,3C6,1999.0
2,JNWfrrC7zNN7BdMpsISKa4Mw+xVJYNnxXh3/Epw7QgY=,my library,Local playlist more,local-playlist,1,13,24,9,20110525,20170911,...,225396.0,1259,Nas,N. Jones、W. Adams、J. Lordan、D. Ingle,no_lyricist,52.0,Hip Hop Is Dead(Album Version (Edited)),US,UM7,2006.0
3,2A87tzfnJTSWqD7gIZHisolhe4DMdzkbd6LzO1KHjNs=,my library,Local playlist more,local-playlist,1,13,24,9,20110525,20170911,...,255512.0,1019,Soundway,Kwadwo Donkoh,no_lyricist,-1.0,Disco Africa,GB,UQH,2010.0
4,3qm6XTZ6MOCU11x8FIVbAGH5l5uMkT3/ZalWG1oo2Gc=,explore,Explore,online-playlist,1,1,0,7,20120102,20171005,...,187802.0,1011,Brett Young,Brett Young| Kelly Archer| Justin Ebach,no_lyricist,52.0,Sleep Without You,QM,3E2,2016.0

In [3]:
categorical = ['source_system_tab','source_type','gender','city']
numerical = ['song_length', 'song_year']

# X['genre_ids'] = X['genre_ids'].astype('category')
# Test['genre_ids'] = Test['genre_ids'].astype('category')
X['city'] = X['city'].astype('category')
Test['city'] = Test['city'].astype('category')
y = X['target']
X = X.drop(columns=['target'])
y.head()

0    1
1    1
2    1
3    1
4    1
Name: target, dtype: int64

In [4]:
DummiesX = pd.get_dummies(data=X[categorical], prefix_sep='|')
#DummiesX = pd.get_dummies(data=X,columns=categorical, prefix_sep='|')
DummiesX.head()

,gender,source_system_tab|discover,source_system_tab|explore,source_system_tab|listen with,source_system_tab|my library,source_system_tab|notification,source_system_tab|radio,source_system_tab|search,source_system_tab|settings,source_type|album,...,city|13,city|14,city|15,city|16,city|17,city|18,city|19,city|20,city|21,city|22
0,1,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,1,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
2,0,0,0,0,1,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
3,0,0,0,0,1,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
4,1,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [5]:
DummiesT = pd.get_dummies(data=Test[categorical], prefix_sep='|')
DummiesT.head()

,gender,source_system_tab|discover,source_system_tab|explore,source_system_tab|listen with,source_system_tab|my library,source_system_tab|notification,source_system_tab|radio,source_system_tab|search,source_system_tab|settings,source_type|album,...,city|13,city|14,city|15,city|16,city|17,city|18,city|19,city|20,city|21,city|22
0,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [6]:
DummiesX.columns
X_num = X[numerical]
X_num.head()
T_num = Test[numerical]
T_num.head()

   song_length  song_year
0     224130.0     2014.0
1     320470.0     2010.0
2     315899.0     2010.0
3     285210.0     2002.0
4     197590.0     2011.0

In [7]:
from sklearn.preprocessing import StandardScaler as stdc

X_num = pd.DataFrame(stdc().fit_transform(X_num),columns=X_num.columns)
X_num.head()

   song_length  song_year
0    -0.573664   0.692924
1     0.585864  -1.943645
2    -0.292737  -0.857999
3     0.154312  -0.237630
4    -0.850791   0.692924

In [8]:
T_num = pd.DataFrame(stdc().fit_transform(T_num),columns=T_num.columns)
T_num.head()

   song_length  song_year
0    -0.268766   0.370085
1     1.044664  -0.225895
2     0.982346  -0.225895
3     0.563954  -1.417856
4    -0.630593  -0.076900

# Particionamos

In [9]:
import sklearn.model_selection as ms
(X_cat_train, X_cat_test, y_train, y_test) = ms.train_test_split(DummiesX, y, test_size=0.5, random_state=1, stratify=y)
(X_cat_test, X_cat_val, y_test, y_val) = ms.train_test_split(X_cat_test, y_test, test_size=.5, random_state=1, stratify=y_test)
print('\n New train shape: ', X_cat_train.shape, ' \n New test shape: ', X_cat_test.shape, '\n New val shape: ',
      X_cat_val.shape, '\n Type: ',type(X_cat_train))
print(y_train.shape)

 New train shape:  (3673816, 42)
 New test shape:  (1836908, 42)
 New val shape:  (1836909, 42)
 Type:  <class 'pandas.core.frame.DataFrame'>
(3673816,)

In [10]:
(X_num_train, X_num_test, y_train, y_test) = ms.train_test_split(X_num, y, test_size=0.5, random_state=1, stratify=y)
(X_num_test, X_num_val, y_test, y_val) = ms.train_test_split(X_num_test, y_test, test_size=.5, random_state=1, stratify=y_test)
print('\n New train shape: ', X_num_train.shape, ' \n New test shape: ', X_num_test.shape, '\n New val shape: ',
      X_num_val.shape, '\n Type: ',type(X_num_train))
print(y_train.shape)

 New train shape:  (3673816, 2)
 New test shape:  (1836908, 2)
 New val shape:  (1836909, 2)
 Type:  <class 'pandas.core.frame.DataFrame'>
(3673816,)

In [11]:
concat_Train = pd.concat([X_cat_train, X_num_train], axis=1, ignore_index=True)
concat_Test = pd.concat([X_cat_test, X_num_test], axis=1, ignore_index=True)
concat_Val = pd.concat([X_cat_val, X_num_val], axis=1, ignore_index=True)

print('concat X Train ', concat_Train.shape)
print('concat X ', concat_Test.shape)
print('concat X ', concat_Val.shape)

concat X Train  (3673816, 44)
concat X  (1836908, 44)
concat X  (1836909, 44)

In [12]:
T =  pd.concat([DummiesT, T_num], axis=1, ignore_index=True)
T.to_csv('../Data/preprocessedTestOriginal.csv')
print('Original test: ', T.shape)

Original test:  (2556790, 44)

In [13]:
T.head()

,0,1,2,3,4,5,6,7,8,9,...,34,35,36,37,38,39,40,41,42,43
0,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,-0.268766,0.370085
1,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1.044664,-0.225895
2,1,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0.982346,-0.225895
3,1,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0.563954,-1.417856
4,1,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,-0.630593,-0.076900

In [14]:
concat_Train.head()

,0,1,2,3,4,5,6,7,8,9,...,34,35,36,37,38,39,40,41,42,43
3584192,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,-0.393737,0.537832
2303057,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,-0.032339,0.227647
3163611,1,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0.470212,-0.392722
4019357,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,-0.665179,0.692924
519966,0,0,0,0,1,0,0,0,0,0,...,1,0,0,0,0,0,0,0,-0.382871,0.692924

In [15]:
concat_Train['target'] = y_train
concat_Test['target'] = y_test
concat_Val['target'] = y_val


concat_Train.to_csv('../Data/preprocessedTrain.csv')
concat_Test.to_csv('../Data/preprocessedTest.csv')
concat_Val.to_csv('../Data/preprocessedVal.csv')
concat_Train.head()

,0,1,2,3,4,5,6,7,8,9,...,35,36,37,38,39,40,41,42,43,target
3584192,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,-0.393737,0.537832,0
2303057,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,-0.032339,0.227647,0
3163611,1,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0.470212,-0.392722,1
4019357,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,-0.665179,0.692924,1
519966,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,-0.382871,0.692924,1